<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tareas</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        table {
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #000;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #726c6c;
        }

        th,
        td:hover {
            background-color: #9d9595;
            z-index: 1;
        }

        .form_tarea {
            margin-bottom: 20px;
        }

        .form_tarea input[type="text"] {
            width: 250px;
            padding: 5px;
            margin-right: 10px;
        }

        .form_tarea input[type="submit"] {
            padding: 5px 15px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

        .edit-btn,
        .delete-btn {
            padding: 2px 5px;
            margin-right: 5px;
            text-decoration: none;
            color: #333;
            border: 1px solid #333;
            border-radius: 3px;
        }

        .edit-btn:hover,
        .delete-btn:hover {
            background-color: #333;
            color: white;
        }

        /* Estilos del modal */
        .modal {
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
            max-width: 500px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            position: relative;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
        }

        #formEditarTarea {
            display: grid;
            gap: 10px;
        }

        #formEditarTarea label {
            font-weight: bold;
        }

        #formEditarTarea input[type="text"] {
            width: 100%;
            padding: 10px;
        }

        #formEditarTarea button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

        #formEditarTarea button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<%- include("../templates/nav/nav1.ejs") %>

<body>
    <h1>Tareas</h1>
    <div class="container-tarea">
        <div class="form_tarea">
            <h2>Agregar Nueva Tarea</h2>
            <form action="/tareas/add" method="post">
                <div>
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Nombre de la Tarea" required>
                </div>
                <div>
                    <input type="submit" value="Agregar">
                </div>
            </form>
        </div>

        <h2>Listado de Tareas</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
            <% tareas.forEach(tarea=> { %>
            <tr>
                <td>
                    <%= tarea.id %>
                </td>
                <td>
                    <%= tarea.nombre %>
                </td>
                <td>
                    <button class="edit-btn" style="cursor: pointer;"
                        onclick="abrirFormEditar('<%= tarea.id %>', '<%= tarea.nombre %>')">Editar</button>
                    <a class="delete-btn" href="/tareas/delete/<%= tarea.id %>">Eliminar</a>
                </td>
            </tr>
            <% }); %>
        </table>
    </div>

    <!-- Modal para editar tarea -->
    <div id="modalEditar" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="cerrarFormEditar()">&times;</span>
            <h2>Editar Tarea</h2>
            <div id="formEditarTarea">
                <input type="hidden" id="editTareaId" name="id">
                <div>
                    <label for="editTareaNombre">Nombre:</label>
                    <input type="text" id="editTareaNombre" name="nombre">
                </div>
                <div>
                    <button onclick="guardarCambios()">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Obtener la ventana modal y los elementos del formulario
        const modal = document.getElementById("modalEditar");
        const form = document.getElementById("formEditarTarea");
        let tareaIdInput = document.getElementById("editTareaId");
        let tareaNombreInput = document.getElementById("editTareaNombre");

        // Funci칩n para abrir la ventana modal y llenar el formulario con los datos de la tarea
        function abrirFormEditar(id, nombre) {
            tareaIdInput.value = id;
            tareaNombreInput.value = nombre;
            modal.style.display = "block";
        }

        // Funci칩n para cerrar la ventana modal
        function cerrarFormEditar() {
            modal.style.display = "none";
        }

        // Agregar evento submit al formulario para enviar la solicitud de edici칩n
        function guardarCambios() {
            // Obtener los valores del formulario
            const id = tareaIdInput.value;
            const nombre = tareaNombreInput.value;

            // Crear objeto formData con los valores
            const formData = {
                id: id,
                nombre: nombre
            };

            // Realizar la solicitud POST para editar la tarea
            fetch("/tareas/update", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(formData)
                })
                .then(response => {
                    if (response.ok) {
                        // Si la respuesta es exitosa, cerrar la ventana modal
                        cerrarFormEditar();
                        // Recargar la p치gina para reflejar los cambios
                        window.location.reload();
                    } else {
                        // Si hay un error, mostrar un mensaje de error
                        console.error("Error al editar la tarea:", response.status);
                    }
                })
                .catch(error => {
                    console.error("Error al editar la tarea:", error);
                });
        }
    </script>
</body>
<footer>
    <%- include("../templates/foot/footer1.ejs") %>
</footer>

</html>
